.iconfont {
    font-size: 1rem;
}
* {
    font-family: inherit;
	font: 16px/1 "微軟正黑體", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 20px 0;
}